#lap1 {
    width: 800px;
    height: 800px;
    background-color: black;
    margin: 20px auto;
    position: relative;
    top: 50px;
    display: none;
}

#lap1:hover {
    background-color: black;
}

#kocka1 {
    width: 50px;
    height: 500px;
    background-color: crimson;
    position: relative;
    top: 300px;
    left: 50%;
    display: inline-block;
}


#finish1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: -300px;
    left: 47%;
}
