
body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://i.pinimg.com/originals/c0/29/2d/c0292d5a0b1883779ee9e1ca928a496b.jpg");
    background-size: 100%;
}

#start-page {
    width: 800px;
    height: 500px;
    background-color: black;
    margin: 20px auto;
    position: relative;
    top: 50px;
}

h1 {
    font-size: 30px;
    color: white;
    position: relative;
    left: 40%;
    top: 5px;
}

h3 {
    color: white;
    font-size: 20px;
    position: relative;
    left: 35%;
    top: 20px;
}

#start-btn {
    width: 150px;
    height: 80px;
    background-color: crimson;
    position: relative;
    left: 40%;
    top: 100px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#start-btn:hover {
    background-image: url("https://wallpaperplay.com/walls/full/2/6/1/141193.jpg");
    background-size: 100%;
}

#lap1 {
    width: 800px;
    height: 800px;
    background-color: black;
    margin: 20px auto;
    position: relative;
    top: 50px;
    display: none;
}

#lap1:hover {
    background-color: black;
}

#kocka1 {
    width: 80px;
    height: 500px;
    background-color: crimson;
    position: relative;
    top: 100px;
    left: 50%;
    display: inline-block;
}


#finish1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: 50px;
    left: 48%;
}

#lap2 {
    width: 800px;
    height: 800px;
    background-color: black;
    margin: 20px auto;
    position: relative;
    top: 50px;
    display: none;
}

#kocka2 {
    width: 60px;
    height: 500px;
    background-color: crimson;
    position: relative;
    top: 50px;
    left: 53%;
    display: inline-block;
}

#finish2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: 50px;
    left: 50%;
}

#lap3 {
    width: 800px;
    height: 800px;
    background-color: black;
    margin: 20px auto;
    position: relative;
    top: 50px;
    display: none;
}

#kocka3 {
    width: 20px;
    height: 500px;
    background-color: crimson;
    position: relative;
    top: 100px;
    left: 55%;
    display: inline-block;
}

#finish3 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: 50px;
    left: 50%;
}